.custom-search {
  background-color: #343434;
  width: 92%;
  border-radius: 5vw;
  padding: 2vw;
  height: 50vw;
  color: white;
  margin: 2vw;
  margin-top: 6vw;
  line-height: 0.5;
}
.custom-search > h4 {
  position: relative;
  top: -1vw;
}
.custom-search > * {
  position: relative;
  left: 2vw;
}
.custom-search > .to-grey {
  color: lightgrey;
}
.custom-search > .to-red {
  color: red;
}

form > * {
  padding: 2vw;
  border-radius: 2vw;
}
form > .search {
  border: solid 0.5px lightgrey;
  outline: solid 0.5px lightgrey;
}
form > .submit {
  background-color: blue;
  color: white;
  border: none;
  width: 20vw;
  /* font-weight: bold; */
}

.search-result {
  background-color: #343434;
  width: 92%;
  border-radius: 5vw;
  height: auto;
  padding: 2vw;
  color: white;
  margin: 2vw;
  margin-top: 6vw;
}

.jst-content {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: white;
}
.for-wifi > .fa-wifi {
  background-color: lightblue;
  color: white;
  padding:2vw;
  border-radius: 3vw;
  margin-top: 14vw;
}


.data-desc {
  font-size: 12px;
  font-weight: bold;
  width: 60vw;
}

.data-amt {
  text-align: right;
  position: relative;
  right: 2vw;
}
.data-amt > small {
  color: green;
  font-size: 10px;
  position: relative;
  top: -5vw;
}
#status {
  color: white;
  background-color: green;
  font-size: 5px;
  height: 5px;
  width: 5px;
  padding: 3px;
  border-radius: 50%;
}

.search-result > .detail{
  color: white,;
}

@media only screen and (min-width: 768px) {
  .for-wifi > .fa-wifi {
    background-color: lightblue;
    color: white;
    padding:0.75rem;
    border-radius: 3vw;
    margin-top: 10rem;
  }
}