<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8" />
  <title>Paystar VTU Web App - Airtime and Data Subcription</title>
  <meta name="keywords" content="mobile top-up, airtime recharge, data bundles, buy airtime online, VTU services, mobile recharge, subscription services, data top-up, online recharge, mobile data plans">
  <meta name="description" content="Experience fast and secure VTU services for data, airtime, electricity, GOTV, DSTV, and more. Enjoy convenient online top-ups and subscriptions with Paystar.">
  <meta name="author" content="Sulaimon Azeez" />
  <link rel="shortcut icon" href="{% static 'IMG-20240819-WA0006.jpg' %}" type="image/jpg">
  <link rel="apple-touch-icon" href="{% static 'IMG-20240819-WA0006.jpg' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)"><span class="text-danger">P</span>ay<span class="text-danger">s</span>tar</a>
    <i class="moon-s fa fa-moon-o"></i>
    <button aria-label="toggle" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a aria-label="Login" class="nav-link" href="/accounts/login">Login</a>
        </li>
        <li class="nav-item">
          <a aria-label="Create Account" class="nav-link" href="/accounts/create">Create Account</a>
        </li>
        <li class="nav-item">
          <a aria-label="Mobile App" class="nav-link" href="javascript:void(0)">Download Mobile App</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button aria-label="Search" class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>

<section id="parent-container" class="container-fluid mt-4">
  <div id="row1" class="row container-fluid">
    <div class="col-xs-12 col-sm-6">
      <h1 data-aos="zoom-out" class="mono keeper">Keeping you connected!</h1>
      <p data-aos="fade-down">Enjoy highly discounted rates on all our Services. Data, Airtime, Cable TV, Electricity bill, Education pin, etc..</p>
      <div class="login-option" data-aos="fade-up">
        <a aria-label="Sign Up" href="/accounts/create" class="text-center p-2 btn fw-bold btn-success signup">Register</a>
        <a aria-label="Login" href="/accounts/login" class="login text-center fw-bold btn btn-dark p-2">Login</a>
      </div>
      <div data-aos="fade-up" class="mt-3 login-option">
        <button aria-label="IOS App" class="text-center fw-bold p-2 btn btn-primary ios">IOS App</button>
        <button aria-label="Android App" class="fw-bold text-center p-2 btn btn-secondary android">Android App</button>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <img class="user-image" src="https://paystar.pythonanywhere.com/static/gifme.gif" alt="User enjoying services" />
    </div>
  </div>
  
  <div id="row2" class="row mt-5 container-fluid">
    <div class="pxs col-xs-12 col-sm-6">
      <img class="w-100" src="https://paystar.pythonanywhere.com/static/data.jpg" alt="Data plans" />
      <div class="text-center call-up">
        <button class="btn btn-light text-dark fw-bold">Data Plan</button>
        <p class="text-secondary">Get Internet Data starting from as low as #220/GB</p>
      </div>
    </div>
    
    <div class="pxs col-xs-12 col-sm-6">
      <img class="w-100" src="https://paystar.pythonanywhere.com/static/vtu.jpg" alt="Airtime VTU" />
      <div class="text-center call-up">
        <button class="btn btn-light text-dark fw-bold">Airtime VTU</button>
        <p class="text-secondary">Enjoy 2.7% on VTU recharge</p>
      </div>
    </div>
    
    <section id="remote" class="col-lg-12 col-xlg-12 col-xs-12 col-sm-12">
      <img class="dls" src="https://paystar.pythonanywhere.com/static/bills.jpg" alt="Bills Payment" />
      <div class="text-center call-up">
        <button class="btn btn-light text-dark fw-bold">Bills Payment</button>
        <p class="text-secondary">Discount on GOTV, DSTV, Startimes, Smile Airtime, Spectranet, Electricity Bill, WAEC and NECO Scratch Card</p>
      </div>
    </section>

    <div class="pxs col-xs-12 col-sm-6">
      <img class="w-100" src="https://paystar.pythonanywhere.com/static/a2c.jpg" alt="Airtime to Cash" />
      <div class="text-center call-up">
        <button class="btn btn-light text-dark fw-bold">Airtime to Cash</button>
        <p class="text-secondary">Convert MTN, GLO, and 9mobile Airtime to Cash at superb rates.</p>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-6">
      <img class="w-100" src="https://paystar.pythonanywhere.com/static/retailer_website.jpg" alt="Retailer Website" />
      <div class="text-center call-up">
        <button class="btn btn-light text-dark fw-bold">Retailer Website</button>
        <p class="text-secondary">Website for retailing Paystar products</p>
      </div>
    </div>
  </div>

  <section class="big-sreen">
    <img class="rounded w-100" src="https://paystar.pythonanywhere.com/static/why-choose.jpg" alt="Why Choose Us" />
    <div class="self-container">
      <p class="choosen">WHY CHOOSE US?</p>
      <h4>We are the best at what we do.</h4>
      <div class="d-flex justify-content-between">
        <p>Automated</p>
        <p>99.99%</p>
      </div>
      <div class="outer-progress">
        <div class="inner-progress"></div>
      </div>
      <div class="d-flex justify-content-between">
        <p>Speed</p>
        <p>99.99%</p>
      </div>
      <div class="outer-progress">
        <div class="inner-progress"></div>
      </div>
      <div class="d-flex justify-content-between">
        <p>Customer Support</p>
        <p>99.99%</p>
      </div>
      <div class="outer-progress">
        <div class="inner-progress"></div>
      </div>
      <div class="d-flex justify-content-between">
        <p>Affordability</p>
        <p>99.99%</p>
      </div>
      <div class="outer-progress">
        <div class="inner-progress"></div>
      </div>
    </div>
  </section>

  <section class="channel-section">
    <p>OUR CHANNELS</p>
    <h4 class="connect-h">Connect with us through several channels</h4>
    <div>
      <p>
        We have several channels you can choose to connect and make transactions on our platform, from our Website to Mobile App, API, USSD, SMS, and our powerful WhatsApp Bot.
      </p>
    </div>
  </section>
</section>

<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Paystar</h5>
        <p>Paystar provides fast and secure VTU services, including data, airtime, electricity, and TV subscriptions. We pride ourselves on affordability and exceptional customer support.</p>
      </div><br/>
      
      <div class="mt-2 col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/accounts/login" class="text-light">Login</a></li>
          <li><a href="/accounts/create" class="text-light">Create Account</a></li>
          <li><a href="#" class="text-light">Download Mobile App</a></li>
        </ul>
      </div><br />

      <div class="mt-2 col-md-4">
        <h5>Contact Us</h5>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope"></i> paystarsuport@gmail.com</li>
          <li><i class="fa fa-phone"></i> +234 8080 8916 05</li>
          <li><i class="fa fa-map-marker"></i> 123 Abiye Street, Kwara, Nigeria</li>
        </ul>
        <div class="social-links">
          <a href="https://www.facebook.com/afolabi.azeez.127201?mibextid=ZbWKwL" class="text-light me-2"><i class="fa fa-facebook"></i></a>
          <a href="https://www.facebook.com/afolabi.azeez.127201?mibextid=ZbWKwL" class="text-light me-2"><i class="fa fa-twitter"></i></a>
          <a href="https://www.facebook.com/afolabi.azeez.127201?mibextid=ZbWKwL" class="text-light me-2"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="text-center mt-3">
      <p>Copyright &copy; 2024 Paystar. All Rights Reserved.</p>
    </div>
  </div>
</footer>

<script>
  AOS.init();
</script>
</body>
</html>